# --- ENV & SECRETS ---
.env
*.env

# --- VIRTUAL ENVIRONMENTS ---
.venv/
venv/

# --- PYTHON BUILD / CACHE ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# --- DATA & AUDIO ---
*.wav
*.mp3
*.flac
*.m4a
*.txt
data/
outputs/
logs/
cache/
*.txt
.png

# --- MODELS & LARGE FILES ---
*.pt
*.pth
*.ckpt
*.bin
*.npz
*.npy
*.onnx
models/
checkpoints/
experiments/
snapshots/

# --- JSONS (confidential) ---
*.json
*.jsonl

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store

# --- BACKUPS / TEMP ---
*.log
*.tmp
*.bak
src/ingest_asr_diar/.locks/models--Systran--faster-whisper-large-v2/346bb8684801a61c15ce82bcb80c29a63c2d1f94.lock
src/ingest_asr_diar/.locks/models--Systran--faster-whisper-large-v2/7818adb6de9fa3064d3ff81226fdd675be1f6344.lock
src/ingest_asr_diar/.locks/models--Systran--faster-whisper-large-v2/bf2a9746382e1aa7ffff6b3a0d137ed9edbd9670c3b87e5d35f5e85e70d0333a.lock
src/ingest_asr_diar/.locks/models--Systran--faster-whisper-large-v2/c9074644d9d1205686f16d411564729461324b75.lock
src/ingest_asr_diar/models--Systran--faster-whisper-large-v2/blobs/346bb8684801a61c15ce82bcb80c29a63c2d1f94
src/ingest_asr_diar/models--Systran--faster-whisper-large-v2/blobs/7818adb6de9fa3064d3ff81226fdd675be1f6344
src/ingest_asr_diar/models--Systran--faster-whisper-large-v2/blobs/bf2a9746382e1aa7ffff6b3a0d137ed9edbd9670c3b87e5d35f5e85e70d0333a
src/ingest_asr_diar/models--Systran--faster-whisper-large-v2/blobs/c9074644d9d1205686f16d411564729461324b75
src/ingest_asr_diar/models--Systran--faster-whisper-large-v2/refs/main
download.sh
amicorpus/ES2002a/audio/ES2002a.Mix-Headset.wav.1
CCBY4.0.txt.1
_sb_cache_speechbrain_emotion-recognition-wav2vec2-IEMOCAP/hyperparams.yaml
wav2vec2_checkpoints/.locks/models--facebook--wav2vec2-base/3f24dc078fcba55ee1d417a413847ead40c093a3.lock
wav2vec2_checkpoints/.locks/models--facebook--wav2vec2-base/47d7dc533f6d412e1c021eb181615d006e403bed.lock
wav2vec2_checkpoints/.locks/models--facebook--wav2vec2-base/3249fe98bfc62fcbc26067f724716a6ec49d12c4728a2af1df659013905dff21.lock
wav2vec2_checkpoints/.locks/models--facebook--wav2vec2-base/6180a447f726e4a2ab8b50effaf0a96f5b161489c620087c3b05418f0179f875.lock
wav2vec2_checkpoints/models--facebook--wav2vec2-base/.no_exist/0b5b8e868dd84f03fd87d01f9c4ff0f080fecfe8/model.safetensors
wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/3f24dc078fcba55ee1d417a413847ead40c093a3
wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/47d7dc533f6d412e1c021eb181615d006e403bed
wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/3249fe98bfc62fcbc26067f724716a6ec49d12c4728a2af1df659013905dff21
wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/6180a447f726e4a2ab8b50effaf0a96f5b161489c620087c3b05418f0179f875
wav2vec2_checkpoints/models--facebook--wav2vec2-base/refs/main
wav2vec2_checkpoints/models--facebook--wav2vec2-base/refs/refs/pr/11
